In [1]:
import pandas as pd

hotels = pd.read_csv('data/hotels.csv')
hotels.head()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060

In [2]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

### Задание 4.1

Сколько уникальных названий отелей представлено в наборе данных?

In [3]:
hotels['hotel_name'].nunique()

1492

***

### Задание 4.2

Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.

Когда был оставлен самый первый отзыв? Введите ответ в формате yyyy-mm-dd.

In [10]:
hotels['review_date'] = pd.to_datetime(hotels['review_date'], dayfirst=False)
hotels['review_date'].sort_values()

143997   2015-08-04
86268    2015-08-04
159209   2015-08-04
217001   2015-08-04
28485    2015-08-04
            ...
167325   2017-08-03
372341   2017-08-03
54669    2017-08-03
321881   2017-08-03
315137   2017-08-03
Name: review_date, Length: 386803, dtype: datetime64[ns]

In [11]:
hotels['tags'].nunique()

47135

***

### Задание 4.3

Сколько уникальных тегов представлено в наборе данных?

In [12]:
# Создадим признак - количество тегов, которые рецензент дал отелю:

# Для начала преобразуем признак tags в список:

def rev_func(num_tags):
    num_tags = num_tags[2:-2]
    res = num_tags.strip().split(' \', \' ')
    return res

hotels['tags_n'] = hotels['tags'].apply(rev_func)

# Узнаем длину списков из тегов, это и будет количество тегов у отеля:

hotels['tags_counts'] = hotels['tags_n'].apply(lambda x: len(x))
hotels['tags_counts'].to_frame()

        tags_counts
0                 5
1                 4
2                 5
3                 4
4                 4
...             ...
386798            5
386799            5
386800            4
386801            4
386802            4

[386803 rows x 1 columns]

In [14]:
# Посмотрим сколько уникальных тегов представлено в наборе данных:

hotels_copy = hotels.copy()
tags_list = hotels_copy['tags_n'].explode('tags_n')
unique_tags = tags_list.nunique()
unique_tags

2368

***

### Задание 4.5

Какой тег представлен в наибольшем числе отзывов?

In [16]:
tags_list.value_counts().head(1)

tags_n
Leisure trip    313593
Name: count, dtype: int64

***

### Задание 4.6

Из тегов выясните, на сколько ночей чаще всего останавливаются путешественники в отелях.

In [17]:
tags_list.value_counts().head(20)
# Ответ: 1

tags_n
Leisure trip                      313593
Submitted from a mobile device    230778
Couple                            189212
Stayed 1 night                    145373
Stayed 2 nights                   100263
Solo traveler                      81235
Stayed 3 nights                    72000
Business trip                      61989
Group                              49088
Family with young children         45836
Stayed 4 nights                    35748
Double Room                        26386
Standard Double Room               24151
Superior Double Room               23550
Family with older children         19802
Deluxe Double Room                 18623
Double or Twin Room                16824
Stayed 5 nights                    15611
Standard Double or Twin Room       13062
Classic Double Room                12716
Name: count, dtype: int64

***